<div>
    @if (IsCategoryContext)
    {

        <div>
            <p>@Category.CategoryName</p>
            <a class="btn btn-info">Edycja</a>
            <button type="button" class="btn btn-danger"
            @onclick="@(() => DeleteCategory.InvokeAsync(Category))">
                Usuń kategorię
            </button>
        </div>
    }
    else
    {
        <div>
            <p>@SubCategory.SubCatName</p>
            <a class="btn btn-info" @onclick="@(()=> EditSubCategory.InvokeAsync(SubCategory))">Edycja</a>
            <button type="button" class="btn btn-danger"
            @onclick="@(() => DeleteSubCategory.InvokeAsync(SubCategory))">
                Usuń podkategorię
            </button>
        </div>

    }
</div>

@code {
    [Parameter] public bool IsCategoryContext { get; set; }
    [Parameter] public Category Category { get; set; } = new Category();
    [Parameter] public EventCallback<Category> DeleteCategory { get; set; }
    

    [Parameter] public SubCategory SubCategory { get; set; } = new SubCategory();
    [Parameter] public EventCallback<SubCategory> DeleteSubCategory { get; set; }
    [Parameter] public EventCallback<SubCategory> EditSubCategory { get; set; }
}
